<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import JetButton from '@/Jetstream/Button.vue';
import { Link } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

const props = defineProps({
  datum: Object
});

const form = useForm({
  name: props.datum.name,
  description: props.datum.description
});

const goBack = () => {
  return history.back()
};

const submitData = () => {
  Inertia.put(`/master/agama/` + props.datum.id, form);
};

</script>

<template>
    <AppLayout title="Agama Edit">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Edit Data
            <Link class="float-right" @click="goBack">
              <jet-button style="float-right;">Kembali</jet-button>
            </Link>
            </h2>
        </template>

        <div class="py-12">
          {{ datum.id }}
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg px-10 py-10">
                  <form @submit.prevent="submitData">
                      <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Name</span>
                        </label>
                        <input type="text" v-model="form.name" name="name" class="input input-bordered w-full max-w-xs" />
                      </div>

                      <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Description</span>
                        </label>
                        <input type="text" v-model="form.description" name="description"  class="input input-bordered w-full max-w-xs" />
                      </div>
                      <div style="height:20px;">&nbsp;</div>
                      <input type="submit" :disabled="form.processing" class="btn btn-success" />
                  </form>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
