<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Link } from "@inertiajs/inertia-vue3";
import JetButton from "@/Jetstream/Button.vue";
import { ref } from "@vue/reactivity";
import { watch } from "@vue/runtime-core";
import { Inertia } from "@inertiajs/inertia";
import debounce from "lodash/debounce";

const props = defineProps({
  datum: Object,
  filters: Object,
});

const destroy = (id, name) => {
  if (confirm("Apakah anda yakin akan menghapus data #" + name + "# ini ?")) {
    Inertia.delete(route("agama.destroy", id));
  }
};

let search = ref(props.filters.search);

watch(
  search,
  debounce(function (value) {
    Inertia.get(
      "/master/agama/",
      { search: value },
      {
        preserveState: true,
        replace: true,
      }
    );
  }, 500)
);
</script>

<template>
  <AppLayout title="Agama">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Agama
        <Link class="float-right" :href="route('agama.create')">
          <jet-button style="float-right;">Tambah Data</jet-button>
        </Link>
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden sm:rounded-lg">
          <input
            type="text"
            placeholder="Search"
            v-model="search"
            class="input my-2 ml-5 input-md input-ghost w-full max-w-xs"
          />
          <div class="overflow-x-auto">
            <table class="table w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th style="width: 10%">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="data in datum.data" :key="data.id">
                  <td>
                    {{ data.id }}
                  </td>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div>
                        <div>{{ data.name }}</div>
                      </div>
                    </div>
                  </td>
                  <td>{{ data.description }}</td>
                  <td>
                    <Link
                      class="btn btn-success btn-xs mx-1"
                      style="display: inline-block"
                      as="button"
                      :href="route('agama.edit', data.id)"
                    >
                      Edit
                    </Link>
                    <Link
                      @click="destroy(data.id, data.name)"
                      style="display: inline-block"
                      class="btn btn-success btn-xs mx-1"
                      as="button"
                      >Delete</Link
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table w-full">
              <td></td>
              <td>
                <div style="float: right"></div>
              </td>
            </table>
            <div class="flex justify-between mb-5 px-5 py-2">
              <div>
                Showing {{ datum.from }} to {{ datum.to }} of {{ datum.total }} results
              </div>
              <div>
                <template v-for="(paginate, index) in datum.links" :key="paginate.index">
                  <Link
                    as="button"
                    class="p-2 bg-slate-300"
                    v-if="paginate.url"
                    :href="paginate.url"
                    v-html="paginate.label"
                    :class="{
                      'text-blue-500': !paginate.url,
                      'font-bold': paginate.active,
                    }"
                  />
                  <span v-else v-html="paginate.label"></span>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </AppLayout>
</template>
