<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { useForm } from "@inertiajs/inertia-vue3";
import JetButton from "@/Jetstream/Button.vue";
import { Link } from "@inertiajs/inertia-vue3";
import jetLabel from "@/Jetstream/Label.vue";
const form = useForm({
  name: "",
  slug: "",
  table_name: "",
  description: "",
});

const goBack = () => {
  return history.back();
};

const props = defineProps({
  nama_tabel: Array,
});
</script>

<template>
  <AppLayout title="Module">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Master Module
        <Link class="float-right" @click="goBack">
          <jet-button style="float-right;">Kembali</jet-button>
        </Link>
      </h2>
    </template>

    <div class="py-6">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg p-5">
          <!-- <div class="tester">test</div> -->
          <form @submit.prevent="form.post('/master/module')">
            <div class="md:flex md:gap-5">
              <div class="basis-1/2">
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">Nama Modul</span>
                  </label>
                  <input
                    type="text"
                    v-model="form.name"
                    name="name"
                    class="input input-bordered w-full mx-1"
                  />
                  <span style="color: red !important" v-if="$page.props.errors.name">{{
                    $page.props.errors.name
                  }}</span>
                </div>
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">Slug</span>
                  </label>
                  <input
                    type="text"
                    v-model="form.slug"
                    name="name"
                    class="input input-bordered w-full mx-1"
                  />
                  <span style="color: red !important" v-if="$page.props.errors.slug">{{
                    $page.props.errors.slug
                  }}</span>
                </div>
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">Table Name</span>
                  </label>
                  <input
                    type="text"
                    v-model="form.table_name"
                    name="name"
                    class="input input-bordered w-full"
                    placeholder="sys_tmst_nametable"
                  />
                  <span
                    style="color: red !important"
                    v-if="$page.props.errors.table_name"
                    >{{ $page.props.errors.table_name }}</span
                  >
                </div>
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">Nama Tabel</span>
                  </label>
                  <select class="select select-bordered">
                    <option disabled selected>Pick one</option>
                    <option>Star Wars</option>
                    <option>Harry Potter</option>
                    <option>Lord of the Rings</option>
                    <option>Planet of the Apes</option>
                    <option>Star Trek</option>
                  </select>
                </div>
                <div>
                  <jet-label></jet-label>
                </div>
              </div>
              <div class="basis-1/2">
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">Description</span>
                  </label>
                  <textarea
                    type="text"
                    v-model="form.description"
                    name="description"
                    class="flex textarea textarea-bordered md:h-52"
                    placeholder="Deskription"
                  ></textarea>
                  <span style="color: red" v-if="$page.props.errors.description">{{
                    $page.props.errors.description
                  }}</span>
                  <!-- <input type="text" v-model="form.description" name="description" class="input input-bordered w-full max-w-xs mx-1" />
                        <span style="color:red;" v-if="$page.props.errors.description">{{ $page.props.errors.description }}</span> -->
                </div>
              </div>
            </div>
            <div style="height: 20px">&nbsp;</div>
            <input type="submit" class="btn btn-success" />
          </form>
        </div>
      </div>
    </div>
  </AppLayout>
</template>
