<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import JetButton from '@/Jetstream/Button.vue'
import { Link } from '@inertiajs/inertia-vue3'

const props = defineProps({
  user: Object
});

const form = useForm({
  name: props.user.name,
  email: props.user.email
});

const goBack = () => {
  return history.back()
};

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Edit User
            <Link class="float-right" @click="goBack">
              <jet-button style="float-right;">Kembali</jet-button>
            </Link>
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg px-10 py-10">
                  <form @submit.prevent="form.put(`/users/${user.id}`)">
                      <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Name</span>
                        </label>
                        <input type="text" v-model="form.name" name="name" class="input input-bordered w-full max-w-xs" />
                      </div>

                      <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Email</span>
                        </label>
                        <input type="text" v-model="form.email" name="email" placeholder="Email" class="input input-bordered w-full max-w-xs" />
                      </div>
                      <div style="height:10px;">&nbsp;</div>
                      <input type="submit" class="btn btn-success" />
                  </form>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
