<script setup>
import AppLayout from '@/Layouts/AppLayout.vue'
import JetButton from '@/Jetstream/Button.vue'
import { Link } from '@inertiajs/inertia-vue3'
import { toRef } from '@vue/reactivity';

const props = defineProps({
  pengguna: Object
});


const goBack = () => {
  return history.back()
};

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Detail Data

            <Link class="float-right" @click="goBack">
              <jet-button style="float-right;">Kembali</jet-button>
            </Link>

            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xs sm:rounded-lg">
                  <div class="overflow-x-auto">
                    <table class="table w-full">
                      <tbody>
                        <tr>
                          <td style="width:50%">Avatar /

                             Photo</td>
                          <td><img :src="pengguna.profile_photo_url" /></td>
                        </tr>
                        <tr>
                          <td >ID</td>
                          <td>{{ pengguna.id }}</td>
                        </tr>
                        <tr>
                          <td>Name</td>
                          <td>{{ pengguna.name }}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>{{ pengguna.email }}</td>
                        </tr>
                        <tr>
                          <td>Role</td>
                          <td>{{ pengguna.role }}</td>
                        </tr>
                        <tr>
                          <td>Dibuat pada</td>
                          <td>{{ pengguna.created_at }}</td>
                        </tr>
                        <tr>
                          <td>Dibuat pada</td>
                          <td>{{ pengguna.updated_at }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
