<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { useForm } from '@inertiajs/inertia-vue3';

const form = useForm({
  name: '',
  email: '',
  password:''
});


</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                User Create
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg px-10 py-10">
                  <div v-if="$page.props.flash.message" class="alert alert-success shadow-lg">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{ $page.props.flash.message }}</span>
                  </div>
                  </div>
                  <form @submit.prevent="form.post('/users')">
                      <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Name</span>
                        </label>
                        <input type="text" v-model="form.name" name="name" placeholder="Username" class="input input-bordered w-full max-w-xs" />
                        <span style="color:red !important" v-if="$page.props.errors.name">{{ $page.props.errors.name }}</span>
                      </div>

                      <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Email</span>
                        </label>
                        <input type="text" v-model="form.email" name="email" placeholder="Email" class="input input-bordered w-full max-w-xs" />
                        <span style="color:red;" v-if="$page.props.errors.email">{{ $page.props.errors.email }}</span>
                      </div>

                      <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Password</span>
                        </label>
                        <input type="password" v-model="form.password" name="password" placeholder="Password" class="input input-bordered w-full max-w-xs" />
                        <span style="color:red;" v-if="$page.props.errors.password">{{ $page.props.errors.password }}</span>
                      </div>
                      <div style="height:10px;">&nbsp;</div>
                      <input type="submit" class="btn btn-success" />
                  </form>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
