<script setup>
import AppLayout from '@/Layouts/AppLayout.vue'
import { Link } from '@inertiajs/inertia-vue3'
import JetButton from '@/Jetstream/Button.vue'

const props = defineProps({
  datum: Object
});

const destroy = (id) => {
    console.log(id)
}

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Daftar Pengguna
                <Link class="float-right" :href="route('users.create')">
                    <jet-button style="float-right;">Tambah Data</jet-button>
                </Link>
            </h2>

        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden sm:rounded-lg">
                  <div class="overflow-x-auto">
                    <table class="table w-full">
                      <!-- head -->
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Role</th>
                          <th style="width:10%;">Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="data in datum" :key="data.id">
                          <td>
                              {{ data.id }}
                          </td>
                          <td>
                            <div class="flex items-center space-x-3">
                              <div class="avatar">
                                <div class="mask mask-squircle w-12 h-12">
                                  <img class="h-8 w-8 object-cover" :src="data.profile_photo_url" />
                                </div>
                              </div>
                              <div>
                                <div>{{ data.name }}</div>
                              </div>
                            </div>
                            </td>
                          <td>{{ data.email }}</td>
                          <td>{{ data.role }}</td>
                          <td>
                            <Link class="btn btn-success btn-xs" style="display:inline-block;" as="button"  :href="route('users.edit', data.id)">
                              Edit
                            </Link>
                            <Link class="btn btn-success btn-xs" style="display:inline-block;" as="button" :href="route('users.show', data.id)">
                              Show
                            </Link>
                            <a class="btn btn-success btn-xs" href="#my-modal-2" style="display:inline-block;" as="button" @click="destroy(data.id)">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
            </div>
        </div>
        <!-- The button to open modal -->
        <!-- Put this part before </body> tag -->
        <div class="modal" id="my-modal-2">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
            <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                          {{ props.datum }}
            <div class="modal-action">
            <a href="#" class="btn">Yay! </a>
            </div>
          </div>
        </div>
    </AppLayout>
</template>
