<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import JetButton from '@/Jetstream/Button.vue';
import { Link } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

const props = defineProps({
  datum: Object,
});

const goBack = () => {
  return history.back()
};


</script>

<template>
    <AppLayout title="Spatie Test">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                List Data
            <Link class="float-right" @click="goBack">
              <jet-button style="float-right;">Kembali</jet-button>
            </Link>
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden sm:rounded-lg">
                <pre>
                {{ datum }}
                </pre>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
