<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Welcome from '@/Jetstream/Welcome.vue';
import axios from 'axios';

defineProps({
  user:Object,
  name: String,
  jetstream: Object,
  user: Object,
  a: String,
  pengguna: Object,
  test: Object,
  data1: Object
})

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                  <pre>{{ user.name }}</pre>

                  <ul v-for="data in pengguna" :key="data.index">
                      <li>{{ data.name }}</li>
                  </ul>

                  <ul v-for="data in data1" :key="data.id">
                    <li>{{ data.id }}</li>
                  </ul>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
